.favorites {
    padding: 10px;
    border-left: 1px solid #b6b5b5;
    max-width: 380px; 
    height: auto;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.favorite-property {
    background-color: #f5f8eb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 90%; 
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    border-color: black;
}

.favorite-property img {
    width: 200px; 
    height: 100px; 
    margin-bottom: 10px; 
    border-radius: 5px;
}

.property-info {
    font-size: 0.8rem; 
}

.property-info .property-description-fav {
    display: none; 
}

.property-info .property-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 25px;
}

.view-details-button {
    margin-top: 5px;
    font-size: 0.8rem;
    padding: 5px 10px;
}

.remove-button {
    margin-top: 10px;
    background-color: red;
    color: white;
  }
  
  .remove-button:hover {
    background-color: darkred;
  }
  
  .delete-all-button {
    background-color: #dc3545; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .delete-all-button i {
    margin-right: 5px;
  }
  
  .delete-all-button:hover {
    background-color: #c82333; 
  }
  
  .favorites input[type="text"] {
    width: 70%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }